@keyframes show {
    from {
        opacity: 0;
        scale: 25%;
    }

    to {
        opacity: 1;
        scale: 100%;
    }
}

.Template {
    view-timeline-name: --components;
    view-timeline-axis: block;

    animation-timeline: --components;
    animation-name: show;

    animation-range: entry 20% cover 35%;
    animation-fill-mode: both;
}